.header {
    text-align: center;
    padding: 35px 0;
    background: #c4c4c4;
}
.header__title {
    font-size: 24px;
}


.content {
    padding: 10px 12px 10px 13px;
}


.firstFlex {
    display: flex;
    flex-direction: column;
}

.genius {
    display: flex;
    margin-bottom: 10px;
}
.genius__left {
    width: 68.95%;
    height: 492px;
    box-sizing: border-box;
    background: #a2a9b7;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 30px 46px 53px 25px;
    margin-right: 10px;
}
.genius__right {
    display: flex;
    flex-direction: column;
    width: 34%;
}
.genius__item {
    background: #a2a9b7;
    height: 49%;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    color: #fff;
    font-size: 14px;
}
.genius__item:last-child {
    margin-bottom: 0;
}

.workers {
    display: flex;
    margin-bottom: 10px;
}
.workers__left {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: 10px;
    width: 68.98%;
}
.workers__item {
    height: 155px;
    width: 49%;
    background: #e8ebed;
    display: flex;
    align-items: flex-end;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.workers__item:nth-child(2) {
    margin-left: auto;
}
.workers__item:last-child {
    width: 100%;
    margin-top: 10px;
}
.workers__right {
    display: flex;
    flex-direction: column;
    width: 34%;
}
.workers__introjection {
    height: 49%;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
}
.workers__introjection:first-child {
    background: #90bce8;
}
.workers__introjection:last-child {
    margin-bottom: 0;
    background: #febf26;
}


.modern {
    display: flex;
    margin-bottom: 10px;
}

.modern__left {
    display: flex;
    flex-direction: column;
    width: 34%;
}
.modern__item {
    background: #e3ebd3;
    height: 49%;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    color: #000;
    font-size: 14px;
}
.modern__item:last-child {
    margin-bottom: 0;
}
.modern__item_hover {
    background: url(../../../assets/ship.png) no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    z-index: 0;
}
.modern__circle {
    position: absolute;
    display: none;
    top: 35%;
    left: 38%;
    color: red;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
    z-index: 2;
    font-size: 40px; 
}
.modern__item_hover:hover .modern__circle {
    display: block;
}
.modern__blur {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.modern__blur:hover {
    backdrop-filter: blur(5px);
}

.modern__right {
    width: 68.95%;
    height: 492px;
    box-sizing: border-box;
    background: #e3ebd3;
    color: #000;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    margin-left: 10px;
    font-size: 14px;
}
.modern__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}
.modern__key {
    text-align: left;
    margin-right: 5px;
}
.modern__value {
    text-align: right;
    margin-left: 5px;
}
.modern__border {
    border-bottom: 2px dotted #000;
    width: 100%;
}


.lead {
    display: flex;
}
.lead__left {
    display: flex;
    flex-direction: column;
    width: 34%;
}
.lead__item {
    height: 49%;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
}
.lead__item:first-child {
    background: #ffaa87;
}
.lead__item:last-child {
    margin-bottom: 0;
    background: #f55e62;
}
.lead__right {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: 10px;
    width: 68.98%;
}
.lead__dot {
    height: 155px;
    width: 49%;
    background: #ffaa87;
    display: flex;
    align-items: flex-end;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.lead__dot:nth-child(2) {
    margin-right: auto;
}
.lead__dot:first-child {
    width: 100%;
    margin-bottom: 10px;
}
.lead__dot:last-child {
    background: #c7abd4;
}

.footer {
    text-align: center;
    padding: 35px 0;
    background: #c4c4c4;
}
.footer__title {
    font-size: 24px;
}

@media (max-width: 480px) {
    .content {
        padding: 10px 0;
    }
    .firstFlex {
        flex-direction: column-reverse;
    }
    .workers {
        flex-direction: column;
    }
    .workers__left {
        width: 100%;
        margin-bottom: 10px;
    }
    .workers__right {
        flex-direction: row;
        justify-content: space-between;
        height: 155px;
        width: 100%;
    }
    .workers__introjection {
        height: 100%;
        width: 49%;
    }
    .genius__left {
        height: 210px;
        overflow: auto;
        padding: 20px 0 10px 10px;
    }
    .modern {
        display: none;
    }
    .lead {
        flex-direction: column-reverse;
    }
    .lead__right {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .lead__left {
        flex-direction: row;
        width: 100%;
    }
    .lead__item {
        width: 49%;
        height: 155px;
    }
    .lead__item:first-child {
        margin-bottom: 0;
    }
    .lead__item:last-child {
        margin-left: auto;
    }
}